.small_block {
    flex-basis: 310px;
    margin-top: 30px;
}

.small_block:first-child {
    margin-top: 0;
}

.small_block:nth-child(0n + 2) {
    margin-top: 0;
}

.small_block:nth-child(2n) {
    margin-right: 0;
}