@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url(default.css);

html, body {
    height: 100%;
}

.large_text {
    font-size: 30px;
}

.gray_text {
    color: gray;
}

.green_background {
    background-color: #448B00;
}

.orange_background {
    background-color: #D89E24;
}

.blue_background {
    background-color: #274D97;
}

.red_background {
    background-color: #C32056;
}

/* Start Menu */
menu {
    background-color: #F6F6F6;
    position: fixed;
    height: 100%;
    width: 250px;
    box-shadow: rgba(128, 128, 128, 0.51) 3px 0 1px 0px;
}

.menu_company {
    padding: 30px;
    border-bottom: rgba(128, 128, 128, 0.26) 2px solid;
    color: black;
}

menu ul {
    padding: 30px 10px;
    color: gray;
}

menu ul li a {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    text-decoration: none;
    color: #808080;
    transition: all 0.3s linear;
}

menu ul li:first-child a {
    background-color: #c32056;
    color: white;
    box-shadow: rgba(128, 128, 128, 0.56) 1px 1px 2px 1px;
}

menu ul li a:hover {
    background-color: rgba(193, 0, 43, 0.56);
    color: white;
    box-shadow: rgba(128, 128, 128, 0.4) 1px 1px 2px 1px;
}

menu ul li .image {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 10px;
    transition: all 0.3s ease-in;
}

.dashboard_image {
    background-image: url("../images/dashboard_white.svg");
}

menu ul li:hover .dashboard_image {
    background-image: url("../images/dashboard_white.svg");
}

.account_image {
    background-image: url("../images/account_gray.svg");
}

menu ul li:hover .account_image {
    background-image: url("../images/account_white.svg");
}

.map_image {
    background-image: url("../images/map_gray.svg");
}

menu ul li:hover .map_image {
    background-image: url("../images/map_white.svg");
}

.notify_image {
    background-image: url("../images/notification_gray.svg");
}

menu ul li:hover .notify_image {
    background-image: url("../images/notification_white.svg");
}

.support_image {
    background-image: url("../images/support_gray.svg");
}

menu ul li:hover .support_image {
    background-image: url("../images/support_white.svg");
}
/* End Menu */

.content {
    display: flex;
    flex-direction: column;
    background-color: #EAEAEA;
    padding-left: 254px;
    min-height: 100%;
}

main {
    flex-grow: 1;
    padding: 30px;
}

/* Start Containers */
main > div > div {
    background-color: #F6F6F6;
    box-shadow: rgba(128, 128, 128, 0.51) 2px 2px 2px 2px;
    padding: 22px;
    flex-grow: 1;
    margin-right: 20px;
}

main > div > div:last-child {
    margin-right: 0;
}

main > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
}

.small_icon {
    width: 15px;
    height: 15px;
}
/* End Containers */

.small_block {
    flex-basis: 150px;
}

.small_block_info {
    text-align: right;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: rgba(128, 128, 128, 0.26) 2px solid;
}

.small_block_info img {
    float: left;
    display: inline-block;
    margin-top: -42px;
    padding: 20px;
    width: 42px;
    height: 42px;
    box-shadow: rgba(128, 128, 128, 0.56) 1px 1px 2px 1px;
}

.medium_blocks_container {
    max-width: 100%;
}

.medium_block {
    flex-basis: 120px;
}

.medium_block_info {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: rgba(128, 128, 128, 0.26) 2px solid;
}

.medium_block_info img {
    display: block;
    box-sizing: border-box;
    margin-top: -42px;
    margin-bottom: 15px;
    padding: 20px;
    max-width: 100%;
    /*height: auto;*/
    box-shadow: rgba(128, 128, 128, 0.56) 1px 1px 2px 1px;
}

.large_blocks_container {
    display: flex;
    flex-wrap: wrap;
}

.large_block {
    flex-basis: 200px;
    flex-grow: 1;
}

.tasks_categories {
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-top: -42px;
    box-shadow: rgba(128, 128, 128, 0.56) 1px 1px 2px 1px;
}

.tasks_categories > ul {
    display: flex;
    margin-left: 10px;
}

.tasks_categories > ul > li {
    margin-left: 5px;
    padding: 15px 20px;
    transition: all 0.2s ease-out;
}

.tasks_categories > ul > li:hover {
    background-color: #DEAD49;
}

.task_list {
    padding-top: 25px;
}

.task {
    display: flex;
    align-items: center;
    border-bottom: rgba(128, 128, 128, 0.26) 2px solid;
    margin-bottom: 7px;
    padding-left: 7px;
    padding-bottom: 7px;
}

.task:last-child {
    border-bottom: none;
    margin-bottom: 7px;
    padding-bottom: 0;
}

.task > {
    flex-grow: 0;
    padding-left: 7px;
    padding-right: 7px;
}

.task > input {
    margin-right: 14px;
}

.task > span {
    flex-grow: 1;
}

.task img {
    width: 25px;
    height: 25px;
    padding-left: 7px;
    padding-right: 7px;
}

.category_icon {
    width: 15px;
    height: 15px;
}

.employees_stats_header {
    padding: 20px;
    color: white;
    margin-top: -42px;
    box-shadow: rgba(128, 128, 128, 0.56) 1px 1px 2px 1px;
}

.employees_list {
    border-collapse: collapse;
    width: 100%;
}

.employees_list th, td {
    border-bottom: gray 1px solid;
    text-align: center;
    padding: 10px;
}

.employees_list th {
    color: #69C5D6;
    padding-top: 20px;
}

.employees_list tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.employees_list th {
    width: 100px;
}

.employees_list th:first-child {
    width: 40px;
}

.employees_list th:nth-child(0n + 2) {
    width: 150px;
}

/* Start Footer */
footer {
    flex-grow: 0;
    border-top: rgba(128, 128, 128, 0.26) 2px solid;
    margin: 0 30px;
    padding: 20px 16px 12px 16px;
    float: bottom;
}

footer > nav {
    float: left;
}

.links {
    display: flex;
    text-transform: uppercase;
}

.links > li {
    margin-right: 30px;
}

.links > li:hover {
    text-decoration-line: underline;
}

.links > li > a {
    text-decoration-line: none;
    color: black;
}

.add_info {
    float: right;
    color: gray;
}
/* End Footer */

/*  Start Media */
@media (max-width: 1400px) and (min-width: 621px) {
    .small_block {
        flex-basis: 310px;
        margin-top: 50px;
    }

    .small_block:first-child {
        margin-top: 0;
    }

    .small_block:nth-child(0n + 2) {
        margin-top: 0;
    }

    .small_block:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 1200px) {
    .large_block {
        flex-basis: 420px;
        margin-top: 50px;
        margin-right: 0;
    }

    .large_block:first-child {
        margin-top: 0;
    }
}

@media (max-width: 1050px) {
    .small_block {
        flex-basis: 200px;
    }
}

@media (max-width: 900px) {
    menu {
        display: none;
    }

    .content {
        padding-left: 0;
    }

    .small_block {
        flex-basis: 250px;
    }
}

@media (max-width: 670px) {
    .small_block {
        flex-basis: 200px;
    }

    .medium_block {
        flex-basis: 300px;
        margin-top: 50px;
        margin-right: 0;
    }

    .medium_block:first-child {
        margin-top: 0;
    }
}

@media (max-width: 620px) {
    .small_block {
        flex-basis: 300px;
        margin-top: 50px;
        margin-right: 0;
    }

    .small_block:first-child {
        margin-top: 0;
    }
}

@media (max-width: 500px) {
    .tasks_categories {
        flex-direction: column;
    }

    .tasks_categories > ul > li {
        margin: 0;
        padding: 25px 5px 15px 5px;
    }

    /* .tasks_categories  */
}
/* End Media*/